<h2 class="mb-3 text-center fw-bold">
  <%= @user.username %> さんのマイページ
  <span class="badge <%= @user.role == '施工管理者' ? 'bg-success' : 'bg-primary' %>">
    <%= @user.role %>
  </span>
</h2>

<!-- プロフィール情報 -->
<%= render "shared/profile", user: @user %>

<!-- 投稿・応募一覧 -->
<% if @user.role == "施工管理者" %>
  <%= render "shared/job_list", title: "投稿した案件一覧", job_lists: @job_posts %>
<% else %>
  <%= render "shared/job_list", title: "応募した案件一覧", job_lists: @job_applications.map(&:job_post) %>
<% end %>