<header class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <div class="container">
    <%= link_to "WakwakWorks", root_path, class: "navbar-brand" %>

    <div class="d-flex">
      <% if user_signed_in? %>
        <span class="navbar-text me-3">
          <strong><%= current_user.username %> さん</strong>
        </span>

        <% if current_user.role == "施工管理者" %>
          <%= link_to "マイページ", show_manager_user_path(current_user), class: "btn btn-outline-primary me-2" %>
        <% else %>
          <%= link_to "マイページ", show_worker_user_path(current_user), class: "btn btn-outline-primary me-2" %>
        <% end %>

        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary me-2" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
      <% end %>
    </div>
    <%= link_to "トップへ戻る", root_path, class: "btn btn-primary ms-3" %>
  </div>
</header>